@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.active {
  @apply before:bg-purple-color text-font-color z-[1] before:absolute before:right-[-12px] before:top-[-12px] before:z-[-1] before:block before:h-12 before:w-[300px] before:rounded-r-3xl before:content-[''];
}

@layer components {
  .input-label {
    @apply mt-6 inline-block text-sm font-medium;
  }

  .input {
    @apply ring-border-color focus:ring-purple-color dark:ring-dark-input-ring-color dark:focus:ring-purple-color mt-2 block w-full rounded-md bg-transparent p-2 outline-none ring-2 transition-all duration-300 placeholder:text-[14px] placeholder:opacity-60;
  }

  .description-textarea {
    @apply ring-border-color focus:ring-purple-color dark:ring-dark-input-ring-color mt-2 block h-[120px] w-full resize-none rounded-md bg-transparent p-2 outline-none ring-2 transition-all duration-300 placeholder:text-[14px] placeholder:opacity-60;
  }

  .button {
    @apply bg-purple-color text-font-color w-full rounded-full px-6 py-2 text-sm font-semibold transition-all duration-300;
  }
}
